@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.warehouses {
    padding: 2rem $interior-alignment 0 $interior-alignment;
    @include tablet {
        padding: 2rem 0 0 0;
    }

    &__nav {
        @include flex-it(nowrap, flex-start, normal, column);
        border-bottom: 1.5px solid $secondary-cloud;
        padding-bottom: 1rem;

        @include tablet {
            @include flex-it(nowrap, space-between, normal, row);
            border-bottom: none;
            padding: 0 1.7rem 2rem 1.7rem;
        }
    }

    &__form {
        @include flex-it(nowrap, flex-start, normal, column);
        gap: 1.3rem;
        margin: 1.5rem 0;

        @include tablet {
            @include flex-it(nowrap, space-between, normal, row);
            margin: 0;
        }
    }

    &__headers {
        display: none;
        color: $secondary-slate;
        background-color: $background-light-grey;
        text-transform: uppercase;
        padding: 1rem 0;

        @include tablet {
            @include flex-it(nowrap, flex-start, normal, row);
        }
    }

    &__header {
        box-sizing: border-box;
        display: flex;
        gap: 3%;
        &--short {
            width: 19%;
            padding-left: 1.7rem;

            &:hover {
                cursor: pointer;
            }
        }

        &--long {
            width: 26%;

            &:hover {
                cursor: pointer;
            }
        }

        &--action {
            width: 10%;
        }
    }

    &__sort {
        height: 1.5rem;
    }
}