@use '../../styles/partials/colors' as *;

.chevron-link {
    display: flex;
    align-items: top;
    margin-top: 0.25rem;

    &__anchor {
        color: $primary-indigo;
        text-decoration: none;
        font-size: 1rem;
        padding-right: 0.1rem;
        transition: all 0.15s ease-in-out;

        &:hover {
            padding-right: 0.35rem;
        }
    }
}