$primary-black: #13182C;
$primary-indigo: #2E66E5;
$primary-white: #FFFFFF;

$secondary-slate: #5C667E;
$secondary-cloud: #DBC5D5;

$background-graphite: #232940;
$background-light-grey: #F7F8F9;

$supporting-green: #158463;
$supporting-red: #C94515;