@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;


li {
    color: $primary-black;
}

.item {
    height: fit-content;
    &__list {
        padding: 1rem 0 0.5rem;
        width: 100%;
        @include flex-it(nowrap, space-evenly, center, row);
        height: 3rem;
        border-bottom: 1px solid $secondary-slate;
    }
    &__title {
        width: 65%;
        padding-bottom: .5rem;
        &-text {
            font-size: 2rem;
        }
    }
    &__details {
        padding: 1rem;
    }
}

.details {
    &__container {
        @include flex-it (nowrap, space-between, center, row)
    }
}