@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors";
@use "../../styles/partials/typography";

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$background-light-grey;

    &__text {
        color: colors.$secondary-slate;
        margin: 2.5rem 0;
        font-size: 0.6875rem;
        line-height: 1rem;
        
        @include tablet {
            font-size: 0.75rem;
            line-height: 1.125rem;
        }
        
        @include desktop {
            margin: 3rem 0;

        }
    }
}