@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.warehouse {
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: colors.$secondary-cloud 0.01rem solid;

        @include mixins.tablet {
            padding: 2rem;
        }
        &-icons{

        }
        &-text{
            padding-left: 0.5rem;
            padding-right: 4.5rem;
        }
        &-bg{
            border-radius: 50%;
            background-color: colors.$primary-indigo;
            height: 2rem;
            width: 2rem;
            text-align: center;
        
            @include mixins.tablet {
                height: auto;
                width: auto;
                border-radius: 1.5rem;
                padding: 0.25rem 1rem;
                display: flex;
            }
        }
    }

    &__header-edit-image {
        filter: brightness(0 ) invert(1);
        margin-top: 0.25rem;
        @include mixins.tablet {
            margin-top: 0;
            margin-right: 0.25rem;
        }
    }

    &__header-container {
        display: flex;
        align-items: center;
    }
    &__info{
        padding: 1rem;
        font-size: 0.75rem;
        border-bottom: 1.5px solid colors.$secondary-cloud;

        @include mixins.tablet {
            padding: 2rem;
            font-size: 0.875rem;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            border-bottom: none;
        }

        
        &-headers{
            color: colors.$secondary-slate;
            margin-bottom: 0;
            text-transform: uppercase;
        }
        &-contact{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 2rem;
            flex-basis: 60%;

            @include mixins.tablet {
                padding-top: 0;
            }
        }
        &-address{
            flex: 1;
        }
    }

    &__header-edit-text {
        display: none;
        color: colors.$primary-white;

        @include mixins.tablet {
            display: inline;
        }
    }

    &__info-column {
        @include mixins.tablet {
            padding: 0 2rem;
        }
        &--left {
            @include mixins.tablet {
                padding-left: 2rem;
                border-left: 1px solid colors.$secondary-cloud;
            }
            @include mixins.desktop {
                padding-left: 4rem;
            }
        }

        &--right {
            @include mixins.desktop {
                margin-right: 2rem;
            }
        }
    }
}