@use '../../styles/partials/colors' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;

.inventory {
    padding: 2rem $interior-alignment 0 $interior-alignment;
    @include tablet {
        padding: 0;
    }

    &__nav {
        @include flex-it(nowrap, flex-start, normal, column);
        border-bottom: 1.5px solid $secondary-cloud;
        padding-bottom: 1rem;

        @include tablet {
            @include flex-it(nowrap, space-between, normal, row);
            border-bottom: none;
            padding: 2rem;
        }
    }

    &__form {
        @include flex-it(nowrap, flex-start, stretch, column);
        gap: 1.3rem;
        margin: 1.5rem 0;

        @include tablet {
            @include flex-it(nowrap, space-between, center, row);
            margin: 0;
        }
    }

    &__headers {
        display: none;
        color: $secondary-slate;
        background-color: $background-light-grey;
        text-transform: uppercase;
        padding: 1rem;

        @include tablet {
            @include flex-it(nowrap, space-between, normal, row);
            padding: 1rem 2rem;
        }
    }

    &__header {
        @include flex-it(nowrap, space-between, normal, row);
        box-sizing: border-box;
        color: $secondary-slate;
        &--short {
            @include flex-it (nowrap, flex-start, center, row);
            width: 16%;
        }

        &--long {
            @include flex-it (nowrap, flex-start, center, row);
            width: 30%;
            padding-left: 1.7rem;
        }

        &--mid {
            @include flex-it (nowrap, flex-start, center, row);
            width: 25%;
        }

        &--action {
            @include flex-it (nowrap, flex-start, center, row);
            width: 10%;

        }
    }
}